soap-api/src/main/resources/META-INF/schemas/library.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:tns="https://soapapi.com/library"
        targetNamespace="https://soapapi.com/library"
        elementFormDefault="qualified"
>

    <xs:complexType name="Book">
        <xs:sequence>
            <xs:element name="id" type="xs:long"/>
            <xs:element name="title" type="xs:string"/>
            <xs:element name="authorId" type="xs:long"/>
            <xs:element name="publishingCompanyId" type="xs:long"/>
            <xs:element name="publishingYear" type="tns:pubYear"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="pubYear">
        <xs:restriction base="xs:int">
            <xs:minInclusive value="1900"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="Author">
        <xs:sequence>
            <xs:element name="id" type="xs:long"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="surname" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="PublishingCompany">
        <xs:sequence>
            <xs:element name="id" type="xs:long"/>
            <xs:element name="name" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="createBookRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="title" type="xs:string"/>
                <xs:element name="authorId" type="xs:long"/>
                <xs:element name="publishingCompanyId" type="xs:long"/>
                <xs:element name="publishingYear" type="tns:pubYear"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="createBookResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="bookId" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getBookByIdRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getBookByIdResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="book" type="tns:Book"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="updateBookRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
                <xs:element name="title" type="xs:string" minOccurs="0"/>
                <xs:element name="authorId" type="xs:long" minOccurs="0"/>
                <xs:element name="publishingCompanyId" type="xs:long" minOccurs="0"/>
                <xs:element name="publishingYear" type="tns:pubYear" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="updateBookResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="success" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="deleteBookRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="deleteBookResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="success" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="createAuthorRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="surname" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="createAuthorResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="authorId" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getAuthorByIdRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getAuthorByIdResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="author" type="tns:Author"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="listAuthorsRequest">
        <xs:complexType/>
    </xs:element>

    <xs:element name="listAuthorsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="authors" type="tns:Author" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="updateAuthorRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
                <xs:element name="name" type="xs:string" minOccurs="0"/>
                <xs:element name="surname" type="xs:string" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="updateAuthorResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="success" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="deleteAuthorRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="deleteAuthorResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="success" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="createPublishingCompanyRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="createPublishingCompanyResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="publishingCompanyId" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getPublishingCompanyByIdRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getPublishingCompanyByIdResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="publishingCompany" type="tns:PublishingCompany"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="listPublishingCompaniesRequest">
        <xs:complexType/>
    </xs:element>

    <xs:element name="listPublishingCompaniesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="publishingCompanies" type="tns:PublishingCompany" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="updatePublishingCompanyRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
                <xs:element name="name" type="xs:string" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="updatePublishingCompanyResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="success" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="deletePublishingCompanyRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="deletePublishingCompanyResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="success" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

<!--    <xs:element name="ValidationFault">-->
<!--        <xs:complexType>-->
<!--            <xs:sequence>-->
<!--                <xs:element name="message" type="xs:string"/>-->
<!--            </xs:sequence>-->
<!--        </xs:complexType>-->
<!--    </xs:element>-->

<!--    <xs:element name="NotFoundFault">-->
<!--        <xs:complexType>-->
<!--            <xs:sequence>-->
<!--                <xs:element name="message" type="xs:string"/>-->
<!--            </xs:sequence>-->
<!--        </xs:complexType>-->
<!--    </xs:element>-->

<!--    <xs:element name="ConflictFault">-->
<!--        <xs:complexType>-->
<!--            <xs:sequence>-->
<!--                <xs:element name="message" type="xs:string"/>-->
<!--            </xs:sequence>-->
<!--        </xs:complexType>-->
<!--    </xs:element>-->

</xs:schema>